<div>
    <h1> Delete Charger </h1>
  </div>
  <div>
  <form [formGroup]="deleteForm">
    <div>
      <div class="form-group">
        <div class='col-md-2'>Enter Charger Id </div>
        <input type='text' class="form-control" id="chargerId" required formControlName="id">
          <div *ngIf="id.invalid && (id.touched || id.dirty)" class="alert alert-danger">
            <div *ngIf="id.errors.required">
              Charger Id is Required
            </div>
          </div>
      </div>
      </div>
  
      <br>
      <br>
  
      <div>
        <button class='btn btn-primary' (click)="deleteCharger()">
          Delete
        </button>
        <button class='btn btn-primary' (click)='OnBack()'>
          Back
        </button>
      </div>
    </form>
  </div>

