<div>
    <h1> Add a new Charger </h1>
  </div>
  <div>
  <form [formGroup]="addCharger" >
    <div>
      <div class='form-group'>
        <div class='col-md-2'>Enter Charger Station Type </div>
        <input type='text' class="form-control" id="chargerStationType" required formControlName='chargerStationType'>
          <div *ngIf="chargerStationType.invalid && (chargerStationType.dirty || chargerStationType.touched)" class="alert alert-danger" >
            <div *ngIf="stationType.errors.required">
              Charger Station Type is Required
            </div>
          </div>
      </div>
  
      <br>
  
      <div class='form-group'>
        <div class='col-md-2'>Enter Power In Volt </div>
        <input type='text' class="form-control" required formControlName='powerInVolt'>
        <div *ngIf="powerInVolt.invalid && (powerInVolt.dirty || powerInVolt.touched)" class="alert alert-danger">
          <div *ngIf="powerInVolt.errors.required">
          Power is Required
          </div>
        </div>
      </div>
      </div>
  
      <br>
      <br>
  
      <div>
        <button class='btn btn-primary' (click)="addNewCharger()">
          Add
        </button>
       <!---- <button class='btn btn-primary' [disabled]="!addForm.form.valid">
          Submit
        </button>-->
        <button class='btn btn-primary' (click)='OnBack()'>
          Back
        </button>
      </div>
  </form>
  </div>
  
  <div *ngIf="chargerId" [ngClass] = "'success'"> Charger Id {{chargerId}} is Added </div>
  <div *ngIf="error" [ngClass] = "'error'"> {{error}} </div> 
